<!-- {{ if .Site.Params.giscus.repo }}
<div class="mt-12 pt-8 border-t border-[#333]">
  <script src="https://giscus.app/client.js"
    data-repo="{{ .Site.Params.giscus.repo }}"
    data-repo-id="{{ .Site.Params.giscus.repoID }}"
    data-category="{{ .Site.Params.giscus.category }}"
    data-category-id="{{ .Site.Params.giscus.categoryID }}"
    data-mapping="{{ .Site.Params.giscus.mapping }}"
    data-reactions-enabled="{{ if .Site.Params.giscus.reactionsEnabled }}1{{ else }}0{{ end }}"
    data-theme="{{ .Site.Params.giscus.theme }}"
    data-input-position="top"
    crossorigin="anonymous"
    async>
  </script>
</div>
{{ end }} -->

